# Project exclude paths
/billing/target/
/products/target/
/sales/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
